<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<h2>Archived notes</h2>
<table class="table table-striped">
    <thead class="table-blue">
        <tr>
            <th> Title</th>
            <th> Content</th>
            <th> Last edited </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let note of notes">
            <td>{{note.title}}</td>
            <td>{{note.description}}</td>
            <td>{{note.date}}</td>
            <td>
                <button (click)="updateNote(note.id)" class="btn btn-info" > <i class="fas fa-edit"></i></button>
                <button (click)="deleteNote(note.id)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                <button (click)="seeDetailsNote(note.id)" class="btn btn-primary"><i class="fas fa-eye"></i></button>
                <button (click)="archivedNote(note.id,note)" class="btn btn-secondary"> <i class="fas fa-upload"></i></button>    
            </td>
        </tr>
    </tbody>
</table>