<h2>My notes</h2>
<table class="table table-striped">
    <thead class="table-blue">
        <tr>
            <th> Title</th>
            <th> Content</th>
            <th> Last edited </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let note of notes">
            <td>{{note.title}}</td>
            <td>{{note.description}}</td>
            <td>{{note.date}}</td>
            <td>
                <button (click)="updateNote(note.id)" class="btn btn-info" >Edit</button>
                <button (click)="deleteNote(note.id)" class="btn btn-danger">Delete</button>
                <button (click)="seeDetailsNote(note.id)" class="btn btn-primary">Info</button>
                <button (click)="archivedNote(note.id,note)" class="btn btn-secondary">Archive</button>
            </td>
        </tr>
    </tbody>
</table>

